@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <h1> Xin chao tat ca moi nguoi, minh xin tu gioi thieu , minh la Truong, hoc sinh lop cntt2.04 </h1>
        <!--
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        -->
    </head>
    <body>
        @content
    </body>
</html>
